<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.Dev_userMapper">

	<!-- 添加 时间默认运行此sql的时间 -->
	<!--updateDate, #{updateDate},onSaleDate, offSaleDate,#{onSaleDate}, #{offSaleDate}, 
		logoPicPath,#{logoPicPath}, versionId,#{versionId}, -->
	<insert id="addApp_info" parameterType="com.app.pojo.App_info">
		insert
		into App_info(
		id,
		softwareName,
		APKName,
		supportRom,
		interfaceLanguage,
		softwareSize,

		devId,
		appInfo,
		status,

		flatformId,
		categoryLevel3,
		downloads,
		categoryLevel1,
		categoryLevel2,

		logoLocPath,

		createdBy,
		creationDate )
		values
		( #{id},
		#{softwareName},
		#{APKName},
		#{supportRom},
		#{interfaceLanguage},
		#{softwareSize},
		#{createdBy},
		#{appInfo},
		#{status},

		#{flatformId},
		#{categoryLevel3},
		#{downloads},
		#{categoryLevel1},
		#{categoryLevel2},

		#{logoLocPath},

		#{createdBy},
		sysdate )
	</insert>

	<!-- 删除 -->
	<!-- <delete id="deleteUser" parameterType="int"> delete from SMBMS_USER 
		WHERE ID=#{id} </delete> -->
	<!--修改用户密码 -->
	<!-- <update id="userUpdataPwd" parameterType="com.app.pojo.Dev_user"> update 
		smbms_user <trim prefix="set" suffixOverrides="," suffix="where id=#{id}"> 
		<if test="userPassword !=null">userPassword=#{userPassword},</if> <if test="modifyBy 
		!=null">modifyBy=#{modifyBy},</if> modifyDate=sysdate, </trim> </update> -->

	<!-- 更新用户数据 -->
	<!-- <update id="updata" parameterType="com.app.pojo.Dev_user"> update smbms_user 
		<set> <if test="userCode !=null">userCode=#{userCode},</if> <if test="userName 
		!=null">userName=#{userName},</if> <if test="userPassword !=null">userPassword=#{userPassword},</if> 
		<if test="gender !=null">gender=#{gender},</if> <if test="birthday !=null">birthday=#{birthday},</if> 
		<if test="phone !=null">phone=#{phone},</if> <if test="address !=null">address=#{address},</if> 
		<if test="userRole !=null">userRole=#{userRole},</if> <if test="modifyBy 
		!=null">modifyBy=#{modifyBy},</if> modifyDate=sysdate, <if test="userCode 
		!=null">userCode=#{userCode},</if> </set> where id=#{id} update smbms_user 
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}"> <if test="userCode 
		!=null">userCode=#{userCode},</if> <if test="userName !=null"> <if test="userName 
		!=''">userName=#{userName},</if> </if> <if test="userPassword !=null">userPassword=#{userPassword},</if> 
		<if test="gender !=null">gender=#{gender},</if> <if test="birthday !=null">birthday=#{birthday},</if> 
		<if test="phone !=null"> <if test="phone !=''">phone=#{phone},</if> </if> 
		<if test="address !=null"> <if test="address !=''">address=#{address},</if> 
		</if> <if test="userRole !=null">userRole=#{userRole},</if> <if test="modifyBy 
		!=null">modifyBy=#{modifyBy},</if> modifyDate=sysdate, </trim> </update> -->


	<!-- 验证用户输入的用户名和密码是否正确 -->
	<!-- 修改密码时，先验证输入的密码是否正确 -->
	<select id="findDev_user" resultType="com.app.pojo.Dev_user"
		parameterType="com.app.pojo.Dev_user">
		select * from Dev_user where
		devPassword=#{devPassword}
		and
		devName=#{devName}
	</select>

	<!-- 查询所有的app状态列表 -->
	<select id="findAllOfAppStatus" resultType="com.app.pojo.Data_appStatus">
		select * from
		DATA_APPSTATUS

	</select>
	<!-- 查询所有的app所属平台 -->
	<select id="findAllOfFlatForm" resultType="com.app.pojo.Data_flatForm">
		select * from
		DATA_FLATFORM

	</select>

	<!-- 查询categoryLevel1 -->
	<select id="findAllOfCategoryLevel1" resultType="com.app.pojo.App_category">
		select * from
		APP_CATEGORY where parentID=0

	</select>

	<!-- 查询categoryLevel2,3 -->
	<select id="findOfCategoryLevels" resultType="com.app.pojo.App_category"
		parameterType="int">
		select * from
		APP_CATEGORY where parentID=#{id}

	</select>


	<!--Ajax异步验证 把前端输入的APKName拿去查询数据库里是否存在 -->
	<select id="verifyAPKName" parameterType="String" resultType="com.app.pojo.App_info">
		select *
		from App_info where APKName=#{APKName}
	</select>



	<!-- 查询categoryLevel1Name -->
	<select id="getCategoryLevel1Name" resultType="String"
		parameterType="int">
		select CATEGORYNAME from
		APP_CATEGORY where
		id=#{categoryLevel1}

	</select>

	<!-- 查询categoryLevel2Name -->
	<!-- <select id="getCategoryLevel2Name" resultType="String" parameterType="int"> 
		select CATEGORYNAME from APP_CATEGORY where id=#{categoryLevel2} </select> -->

	<!-- 查询categoryLevel3Name -->
	<!-- <select id="getCategoryLevel3Name" resultType="String" parameterType="int"> 
		select CATEGORYNAME from APP_CATEGORY where id=#{categoryLevel3} </select> -->

	<!--查询所属的平台 -->
	<select id="getFlatformName" resultType="String" parameterType="int">
		select FLATFORMNAME from
		DATA_FLATFORM where
		id=#{flatformId}

	</select>


	<!--查询app状态 -->
	<select id="getAppStatusName" resultType="String" parameterType="int">
		select STATUSNAME from
		DATA_APPSTATUS where
		id=#{statusId}

	</select>
	
	<!--查询最新版本号	 -->
	<select id="getAppVersionNo" resultType="String" parameterType="int">
		select versionNo from
		APP_VERSION where
		id=#{versionId}

	</select>


	<!-- 分页功能 -->

	<!-- 查询App_info -->
	<select id="getApp_infoListByMap" resultType="com.app.pojo.App_info"
		parameterType="java.util.Map">
		<!--拼接字符串，使其可以模糊查询 -->
		<bind name="softwarename" value="'%'+softwareName+'%'" />
		select * from
		(select ROWNUM rn,u.* from
		(select
		a.* from APP_INFO
		a
		where
		1=1
		<if test="softwareName !=null and softwareName !=''">
			and a.softwareName like #{softwarename}
		</if>
		<if test="status !=null and status !=''">
			and a.status = #{status}
		</if>
		<if test="flatformId !=null and flatformId !=''">
			and a.flatformId = #{flatformId}
		</if>
		<if test="categoryLevel1 !=null and categoryLevel1 !=''">
			and a.categoryLevel1 = #{categoryLevel1}
		</if>
		<if test="categoryLevel2 !=null and categoryLevel2 !=''">
			and a.categoryLevel2 = #{categoryLevel2}
		</if>
		<if test="categoryLevel3 !=null and categoryLevel3 !=''">
			and a.categoryLevel3 = #{categoryLevel3}
		</if>


		order by
		a.creationDate desc
		) u where rownum
		&lt;=#{pageMax}
		)
		where rn
		&gt;
		#{pageMin}
	</select>


	<!-- 查询角色名和user列表 的记录条数，，和getApp_infoListByMap嵌套使用 -->
	<select id="countByMap" resultType="int" parameterType="java.util.Map">
		<!-- 拼接字符串，使其可以模糊查询 -->
		<bind name="softwarename" value="'%'+softwareName+'%'" />
		select
		count(*) from APP_INFO a
		where
		1=1
		<if test="softwareName !=null and softwareName !=''">
			and softwareName like #{softwarename}
		</if>
		<if test="status !=null and status !=''">
			and status = #{status}
		</if>
		<if test="flatformId !=null and flatformId !=''">
			and flatformId = #{flatformId}
		</if>
		<if test="categoryLevel1 !=null and categoryLevel1 !=''">
			and categoryLevel1 = #{categoryLevel1}
		</if>
		<if test="categoryLevel2 !=null and categoryLevel2 !=''">
			and categoryLevel2 = #{categoryLevel2}
		</if>
		<if test="categoryLevel3 !=null and categoryLevel3 !=''">
			and categoryLevel3 = #{categoryLevel3}
		</if>
	</select>

	<!-- 查询用户详细信息 -->
	<!-- 查询了更新者名字和创建者名字 -->
	<!-- <select id="getUserById" parameterType="String" resultMap="userLists"> 
		select u.*,r.roleName from SMBMS_USER u,SMBMS_ROLE r where u.id=#{id} and 
		u.userRole=r.id SELECT u.USERCODE,u.USERNAME,u.GENDER,u.BIRTHDAY,u.PHONE,u.ADDRESS,u.MODIFYDATE,u.CREATIONDATE, 
		(select userName from SMBMS_USER where id= (select CREATEDBY from SMBMS_USER 
		where id=#{id})) as CREATEDBYNAME, (select userName from SMBMS_USER where 
		id= (select MODIFYBY from SMBMS_USER where id=#{id})) as MODIFYBYNAME, r.ROLENAME 
		from SMBMS_USER u,SMBMS_ROLE r where u.id=#{id} and u.USERROLE=r.ID </select> 
		<select id="ucexist" parameterType="String" resultType="User"> select * from 
		SMBMS_USER where userName=#{userName} </select> <resultMap type="com.app.pojo.Dev_user" 
		id="userList"> <id column="id" property="id" /> <result column="userCode" 
		property="userCode" /> <result column="userName" property="userName" /> <result 
		column="gender" property="gender" /> <result column="birthday" property="birthday" 
		/> <result column="phone" property="phone" /> <result column="address" property="address" 
		/> <result column="roleName" property="userRoleName" /> <result column="userRole" 
		property="userRole" /> </resultMap> <resultMap type="com.app.pojo.Dev_user" 
		id="userLists"> <id column="id" property="id" /> <result column="userCode" 
		property="userCode" /> <result column="userName" property="userName" /> <result 
		column="gender" property="gender" /> <result column="birthday" property="birthday" 
		/> <result column="phone" property="phone" /> <result column="address" property="address" 
		/> <result column="roleName" property="userRoleName" /> <result column="modifyByName" 
		property="modifyByName" /> <result column="createdByName" property="createdByName" 
		/> </resultMap> -->
</mapper>